<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Vue JS | Eduwork</title>
</head>

<body>


    <script src="https://unpkg.com/vue@3"></script>

    <div id="app" v-if="status == 'tampilkan'">{{ message }} <br><br>
        <label v-for="user in users">Nama {{ user.nama }} dan umur {{ user.umur }} <br></label>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    status: 'tampilkan',
                    users: [{
                            nama: 'Yodi',
                            umur: '19'
                        },
                        {
                            nama: 'Irawan',
                            umur: '20'
                        },
                        {
                            nama: 'Awanten',
                            umur: '21'
                        }
                    ]
                }
            }
        }).mount('#app')
    </script>
</body>

</html>