body{
    font-family: "century gothic";
}
.menu{
    text-decoration: none;
    color: black;
}
.slider{
    height: 500px;
    background: #ddd ;
}
.line{
   background: black;
   width: 100px;
   height: 3px; 
}
.content{
    text-align: justify;
    line-height: 15px;
}